<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../presentation.css">
    <link rel="stylesheet" href="{{{css_url}}}">
</head>
<body{{#container_style}} style="{{container_style}}"{{/container_style}}>
{{{content}}}
</body>
</html>
