html,
body {
    width: auto !important;
    min-width: 0 !important;
    height: auto !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #fff !important;
    color: #000;
}

html:before,
body:before,
html:after,
body:after {
    display: none !important;
}
