<div class="container">

    <!-- Navigation block -->
    <ul class="nav">
        <li><a href="#top">{{lang.page_top}}</a></li>
        {{#items}}
            <li>
                <div>
                    <a href="#{{anchor_name}}">
                        {{#section}}{{section}}. {{/section}}{{title}}
                    </a>
                </div>
                <ul>
                {{#subitems}}
                    <li><a href="#{{anchor_name}}">{{base}}{{#modifier}}<mark>{{modifier}}</mark>{{/modifier}}</a></li>
                {{/subitems}}
                </ul>
            </li>
        {{/items}}
    </ul>
    <!-- /Navigation block -->

    <!-- Main block -->
    <div class="main">

        <a id="top"></a>
        {{#page_title}}
            <h1>{{page_title}}</h1>
        {{/page_title}}

        {{#items}}

            {{#title}}
                <h2 id="{{anchor_name}}">
                    <a href="#{{anchor_name}}">
                        {{#section}}{{section}}. {{/section}}{{title}}
                    </a>
                </h2>
            {{/title}}
            {{#description}}
                <div class="description">{{description}}</div>
            {{/description}}

            {{#author}}
                <div class="additional"><em>{{lang.tags.author}}:</em> {{.}}</div>
            {{/author}}
            {{#version}}
                <div class="additional"><em>{{lang.tags.version}}:</em> {{version}}</div>
            {{/version}}
            {{#since}}
                <div class="additional"><em>{{lang.tags.since}}:</em> {{since}}</div>
            {{/since}}
            {{#is_deprecated}}
                {{#deprecated_info}}
                    <div class="additional"><em>{{lang.tags.deprecated}}:</em> {{deprecated_info}}</div>
                {{/deprecated_info}}
                {{^deprecated_info}}
                    <div class="additional"><em>{{lang.tags.deprecated}}</em></div>
                {{/deprecated_info}}
            {{/is_deprecated}}
            {{#see}}
                <div class="additional"><em>{{lang.tags.see}}:</em> <a href="{{.}}" targe="_blank">{{.}}</a></div>
            {{/see}}
            {{#todo}}
                <div class="additional"><em>{{lang.tags.todo}}:</em> {{.}}</div>
            {{/todo}}
            {{#fixme}}
                <div class="additional"><em>{{lang.tags.fixme}}:</em> {{.}}</div>
            {{/fixme}}

            {{#subitems}}
                <div class="showcase" id="{{anchor_name}}">
                    {{#base}}
                        <h3>
                            <a href="#{{anchor_name}}">
                                <code>{{base}}{{#modifier}}<mark>{{modifier}}</mark>{{/modifier}}</code>
                            </a>
                            {{#states}}
                                <em>[<code title="{{description}}">{{state}}</code>]</em>
                            {{/states}}
                        </h3>
                    {{/base}}
                    {{#description}}
                        <div class="description">{{description}}</div>
                    {{/description}}
                    {{#presentation}}
                        <iframe id="presentation_{{id}}" src="{{{iframe_url}}}"
                            {{#iframe_height}}style="height: {{iframe_height}}px"{{/iframe_height}}
                            {{^iframe_height}}class="loading"{{/iframe_height}}
                            {{#iframe_use_onload}}onload="styledoc_iframeOnload(this)"{{/iframe_use_onload}}
                            scrolling="no"></iframe>
                    {{/presentation}}
                    {{presenter}}
                    {{#example}}
                        <pre>{{example}}</pre>
                    {{/example}}
                </div>
            {{/subitems}}

        {{/items}}
    </div>
    <!-- /Main block -->

</div>
