html,
body {
    width: auto !important;
    min-width: 0 !important;
    height: auto !important;
    min-height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    /*overflow: visible !important;*/
    background-color: #181922 !important;
    color: #c4c4c4;
}

body {
    padding: 13px !important;
    padding-bottom: 26px !important;
}

html:before,
body:before,
html:after,
body:after {
    display: none !important;
}

body > * + * {
    margin-left: 10px !important;
}

body > div,
body > ul {
    display: inline-block !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
}
